@model AlertBoxVM

@{
    string alertStyle = Model.IsSucceeded ? "success" : "danger";
}

<div class="alert alert-dismissible alert-@alertStyle col-md-6">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <h3>@Model.Title</h3>
    <p>@Model.Content</p>
</div>
