@model User

@{
    ViewData["Title"] = Model.UserName;
    string userId = User.GetUserId() ?? string.Empty;
    IReadOnlyCollection<News> allNews = Model.News.Where(news => news.GroupId == null).OrderByDescending(news => news.WrittenIn).ToList();
}

<style>
    .like
    {
        color: red;;
    }
    .like:hover
    {
        color: white;
    }
    
    .comment
    {
        color: #3e9ddd;
    }
    .comment:hover
    {
        color: white;
    }
</style>
<div class="card mb-3">
    <div class="card-body">
        <h3>@Model.UserName</h3>
        <hr/>
        <b>Birthday: @Model.DateOfBirth.ToShortDateString()</b>
    </div>
</div>

@if (allNews.Any())
{
    <hr/>
    <h3 class="text-center">News</h3>
    @foreach (News news in allNews)
    {
        @(await Html.PartialAsync("_LoadNews", news))
    }
}