@model IReadOnlyCollection<Chat>

@{
    ViewData["Title"] = "Chats";
    string userId = User.GetUserId() ?? "";
}

@foreach (Chat chat in Model)
{
    <div class="card card-body">
        @if (chat.IsCoupleChat)
        {
            <a asp-action="Index" asp-route-chatId="@chat.Id" style="text-decoration: none;"><h4>@chat.Users.First(chatUser => chatUser.UserId != userId).User!.UserName</h4></a>
            <hr/>
        }

        <span style="font-style: italic;">
            @chat.Messages.Count() messages
            @if (!chat.IsCoupleChat)
            {
                <text>, @chat.Users.Count() users</text>
            }
        </span>
    </div>
}