@model IReadOnlyCollection<News>

@{
    ViewData["Title"] = "News";
    string userId = User.GetUserId() ?? string.Empty;
}

<div>
<h3 class="text-center">News</h3>
<form class="mb-3" method="post" asp-action="Create" enctype="multipart/form-data">
    @(await Html.PartialAsync("_LoadNewsInput"))
</form>

@if (!Model.Any())
{
    <h3>There is no news... ;(</h3>
}
else
{
    <hr style="background-color: white; height: 2px; border: none;"/>
    @foreach (News news in Model)
    {
        List<NewsContent> images = news.Contents.Where(content => content.Type == NewsContentType.Image).ToList();
        @(await Html.PartialAsync("_LoadNews", news))
    }
}
</div>



