@model IEnumerable<Group>

@{
    ViewData["Title"] = "All Groups";
    string userId = User.GetUserId() ?? "";
}

@foreach (Group group in Model)
{
    bool isFounder = group.Users.FirstOrDefault(group => group.UserId == userId)?.UserStatus == GroupUserStatus.Founder;

    <div class="card mb-3">
        <div class="card-body">
            <h3>
                <a class="link-light" asp-controller="Groups" asp-action="Info" asp-route-groupName="@group.Name">@group.Name</a>
                @if (isFounder)
                {
                    <abbr title="You are Founder"><i class="bi bi-star"></i></abbr>
                }
            </h3>
            <p style="font-style: italic;">@group.UserCount users</p>
            <hr />
            <p>@group.Description.Substring(0, Math.Min(group.Description.Length, 100))</p>
        </div>
    </div>
}